<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="http://www.yahoo.com">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published:see my work ,</p>
            <h2><a href="">My first jop</a></h2>
            <p>whatever i write I'ts not important  .</p>
        </div>

        <div>
            <p>published: thats too</p>
            <h2><a href="">My second jop</a></h2>
            <p>zoidofus slkjsneuri 95oejjfufjs fjritjoej.</p>
        </div>
    </body>
</html>